# ignore private settings
llamaindex/settings.py
langchain/settings.py

# chroma db
langchain/chroma_storage

# test
langchain/chroma.ipynb

### dataset
langchain/da_dataset

# model 
langchain/BM-K
langchain/da_finetune_epoch_2
langchain/da_finetune_epoch_25

### pycache
langchain/__pycache__
llamaindex/__pycache__

